<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>HISTORY</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href = "css/style.css"/>
  </head>
  <body>
    <div layout:fragment="content" class="container">
      <h1 layout:fragment="header">ИСТОРИЯ</h1>
      <text th:if="${statistics.empty}" id="no-data">
        Данных пока нет в системе
      </text>
      <table th:if="${!statistics.empty}" class="table table-bordered table-striped">
        <thead>
          <tr>
            <td width="60%">ДАТА</td>
            <td width="20%">ВЕС</td>
            <td width="20%">ДЕЛЬТА</td>
            <td width="20%"></td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="statistic : ${statistics}">
            <td>
              <a href="edit.html"
                   th:href="@{'/edit/'+${statistic.id}}"
                   th:text="${statistic.date}">
                Date
              </a>
            </td>
            <td th:text="${statistic.weight}+ ' кг'">
              Weight
            </td>
            <td th:classappend="${(statistic.delta[0] == '+' ? 'positive' : '') + (statistic.delta[0] == '-' ? 'negative' : '')}"
                th:text="${statistic.delta + ' кг'}">
              Delta
            </td>
            <td><a th:href="@{'/delete/' + ${statistic.id}}" th:text="Удалить" onclick="return confirm('Вы уверены, что хотите удалить запись?');">Удалить</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>